<section class="bg-cover position-relative" style="background:red url(assets/img/cover.jpg) no-repeat;" data-overlay="3">
    <!-- <div class="abs-list-sec"><a href="dashboard-add-listing.html" class="add-list-btn"><i class="fas fa-plus me-2"></i>Add Listing</a></div> -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    
                <div class="dashboard-head-author-clicl">
                    <div class="dashboard-head-author-thumb">
                        <img src="pics/<%= photo %>" class="img-fluid" alt="" />
                    </div>
                    <div class="dashboard-head-author-caption">
                        <div class="dashploio"><h4><%= username %></h4></div>
                        <div class="dashploio"><span class="agd-location"><i class="fas fa-envelope me-1"></i><%= mail %></span></div>
                        
                        <!-- 
                        <div class="listing-rating high"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
                        -->
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>